body{
    background:linear-gradient(to bottom right, rgb(7, 40, 55), rgb(91, 97, 106))no-repeat center fixed;
}

.jumbotron{
    width:80%;
    margin-bottom: 10px;
    margin: 10px 10% 10px 10%;
    background-color: rgb(23,23,25);
    background-image:url("https://fortunedotcom.files.wordpress.com/2016/02/giphy-3.gif");
    background-size: cover;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

#giphy-form {
    top :0;
    width: 80%;
    background-color: rgb(23,23,25);
    padding: 10px;
    margin: 0 auto;
}


#buttons{
    background: rgba(88, 88, 88);
    width: 500px;
    height: 100px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: auto;
}

#results{
    width: 80%;
    bottom:0;
    background:linear-gradient(to top left,  rgb(8, 13, 21),rgb(79, 82, 84))no-repeat center fixed;    
    margin: 0 auto;
    padding: 20px;
    margin-top:10px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

p{
    color: antiquewhite;
    text-align: center
}

img{
    border: 2px solid rgba(0, 0, 0, 0.358);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    box-shadow: 5px 5px 5px black
}

.image:hover:after{
    content:'';
    position:absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: url('http://i.stack.imgur.com/P1ELC.png') center no-repeat;
    background-size: 50px;
    
}
.image:hover img{opacity: 0.4;}

.item{
    padding:10px;
    margin: 5px;
    text-align: center;
    float: left;
    position: relative;
    background-color: rgba(0, 0, 0, 0.468);
    border: 1px solid rgba(0, 0, 0, 0.468);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black
}

.favBtn, .rated{
    position: relative;
    color: goldenrod;
    display:flex;
    justify-content: center;
    width:90%;
    margin:0 auto;
    margin-top: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.468);
    border: 1px solid rgba(0, 0, 0, 0.468);
    border-radius: 10px;
}


#favDiv{
    display:hidden;
}